@model IEnumerable<IGrouping<string, Product>>
@{
    ViewBag.Title = "Merchandise";
}
<h2 class="section-header">
    Get some killer merchandise
</h2>

<div id="grid-container" class="container_12">
    @foreach (var category in Model)
    {
        <div class="grid_12">
            <h3>@category.Key</h3>
        </div>
        foreach (var product in category)
        {
            <div class="grid_3">
                @Html.DisplayFor(_ => product)
            </div>
        }
    }
    <div class="clear"></div>
</div>
