<?xml version="1.0" encoding="utf-8"?>
<routes>

	<public>
		<community>
			<route action="show" pattern="community" verbs="get"/>
		</community>
		<contribute>
			<route action="show" pattern="contribute" verbs="get"/>
		</contribute>
		<download>
			<route action="show" pattern="download" verbs="get"/>
		</download>
		<error>
			<route action="show" pattern="error/{code}" verbs="get"/>
		</error>
		<extension>
			<route action="show" pattern="extensions" verbs="get"/>
		</extension>
		<home>
			<route action="show" pattern="" verbs="get"/>
		</home>
		<learn>
			<route action="show" pattern="learn" verbs="get"/>
		</learn>
		<merchandise>
			<route action="show" pattern="merchandise" verbs="get"/>
		</merchandise>
		<sponsor>
			<route action="show" pattern="sponsors" verbs="get"/>
		</sponsor>
	</public>

</routes>