<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<configSections>
		<section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>

	<system.web>
		<customErrors mode="Off" />
		<compilation debug="false" />
		<authentication mode="Forms">
			<forms name="ninject.a" timeout="10080" loginUrl="~/login" />
		</authentication>
		<sessionState mode="InProc" timeout="1200" cookieName="ninject.s" />
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="errors" type="Elmah.ErrorLogPageFactory, Elmah" />
			<add verb="*" path="*.spark" type="System.Web.HttpForbiddenHandler" />
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpHandlers>
		<httpModules>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="OnePerRequestModule" type="Ninject.OnePerRequestModule, Ninject"/>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
		</httpModules>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="OnePerRequestModule" type="Ninject.OnePerRequestModule, Ninject"/>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
		</modules>
		<handlers accessPolicy="Read, Execute, Script">
			<clear />
			<add name="ElmahHandler" verb="POST,GET,HEAD" path="errors" type="Elmah.ErrorLogPageFactory, Elmah" />
			<add name="MvcHandler" verb="*" path="*" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
	</system.webServer>

	<location path="Content"></location>
	<location path="Data"></location>
	<location path="Views"></location>
	
	<spark>
		<compilation debug="true">
			<assemblies>
				<add assembly="Ninject.Website" />
				<add assembly="Ninject.Website.Data" />
				<add assembly="Ninject.Website.Framework" />
			</assemblies>
		</compilation>
		<pages pageBaseType="Ninject.Website.Framework.NinjectViewBase">
			<namespaces>
				<add namespace="System" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Linq" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="Ninject.Website" />
				<add namespace="Ninject.Website.Data" />
				<add namespace="Ninject.Website.Framework" />
				<add namespace="Ninject.Website.Framework.Extensions" />
			</namespaces>
		</pages>
	</spark>

	<elmah>
		<security allowRemoteAccess="yes" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/data/errors" />
	</elmah>

</configuration>
