@model Product

<a class="product" href="http://www.zazzle.com/nkohari*/product/@Model.Id?CMPN=ltte">
	<img src="http://rdr.zazzle.com/img/imt-prd/isz-s/pd-@Model.Id/tl-@Model.Image" alt="@Model.Name" />
	<div class="product-name">
		@Model.Name
	</div>
</a>