h2.section-header {
	background-image: url(../images/headers/download.png);
}

.banner {
	color: #fff;
	background-color: #222;
	padding: 12px;
}

h3 {
	font-weight: normal;
}

.box {
	padding: 12px;
}

h4 {
	font-weight: bold;
}