#home #cards {
	width: 796px;
	margin: 60px 86px;
}

#home .arrow {
	position: relative;
	display: block;
	width: 40px;
	height: 68px;
	margin: 86px 22px;
	background-color: #111;
	background-repeat: no-repeat;
	background-position: 0px center;
	text-indent: -9999em;
}

#home .arrow .hover {
	width: 40px;
	height: 68px;
	background-position: -40px center;
}

#home .prev {
	position: absolute;
	left: 0px;
	background-image: url(../images/arrow-left.png);
}

#home .next {
	position: absolute;
	right: 0px;
	background-image: url(../images/arrow-right.png);
}

#home #cards .card {
	width: 100%;
	height: 130px;
	background-color: #111;
}

#home #cards h2 {
	text-indent: -9999em;
	background-color: #111;
	background-position: left center;
	background-repeat: no-repeat;
	height: 55px;
	width: 100%;
	margin-bottom: 6px;
}

#home #cards #card-1 h2 {
	background-image: url(../images/headers/cards/bend-software-to-your-will.png);
}

#home #cards #card-2 h2 {
	background-image: url(../images/headers/cards/laugh-in-the-face-of-change.png);
}

#home #cards #card-3 h2 {
	background-image: url(../images/headers/cards/use-your-sharpest-tools.png);
}

#home #cards #card-4 h2 {
	background-image: url(../images/headers/cards/write-smarter-software-everywhere.png);
}

#home #cards #card-5 h2 {
	background-image: url(../images/headers/cards/be-fast-be-agile-be-precise.png);
}

#home #examples {
	border-top: 12px solid #222;
	border-bottom: 12px solid #222;
	background-color: #161616;
	font-size: 0.8em;
	overflow: hidden;
	padding: 12px 0px;
}

#home .code-sample {
	border-right: 2px dotted #222;
}

#home .code-sample.last {
	border-right: 0px;
}

#home .code-sample h3 {
	color: #fff;
	background-color: #161616;
	font-weight: normal;
	font-size: 1.3em;
	font-style: italic;
	margin: 6px 0px 6px 18px;
}

#home #bottom {
	padding-top: 12px;
	padding-bottom: 12px;
	overflow: hidden;
	color: #bbb;
}

#home #bottom .section {
	font-size: 0.9em;
	line-height: 1.1em;
	border-right: 2px dotted #222;
	padding-bottom: 12px;
}

#home #bottom .section.last {
	border-right: 0px;
}

#home #bottom .section h3 {
	color: #fff;
	background-color: #111;
	font-weight: normal;
	font-size: 1.1em;
	margin: 6px 0px;
	padding: 0px;
}