body, html {
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	font-size: 62.5%;
	font-family: Calibri, Tahoma, Verdana, Helvetica, Arial, Sans-Serif;
	color: #ddd;
	background-color: #000;
}

a:link, a:visited {
	color: #eee;
}

a:hover, a:active {
	color: #fff;
}

#container {
	width: 960px;
	margin: 0px auto;
	border-left: 3px solid #222;
	border-right: 3px solid #222;
	background-color: #111;
}

#top {
	position: relative;
}

#splash {
	position: relative;
	z-index: 2;
}

#splash a {
	display: block;
	width: 565px;
	height: 280px;
	background: transparent url(../images/splash.png) no-repeat 12px bottom;
	text-indent: -9999em;
}

#adzerk {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 3;
	font-size: 1.2em;
	width: 300px;
	color: #aaa;
	line-height: 1.1em;
	text-align: right;
}

#adzerk #adzerk_ad {
	padding-left: 6px;
	float: right;
}

#adzerk #adzerk_by {
	clear: both;
	padding-top: 6px;
}

#adzerk a:link, #adzerk a:visited {
	color: #ddd;
	text-decoration: none;
}

#adzerk a:hover, #adzerk a:active {
	color: #fff;
	text-decoration: underline;
}

#navigation {
	position: relative;
	top: -6px;
	z-index: 1;
	height: 158px;
}

#navigation li {
	display: inline;
	list-style-type: none;
}

.ie7 #navigation li {
	display: inline;
}

#navigation li a {
	position: relative;
	display: block;
	float: left;
	width: 137px;
	height: 158px;
	background-color: #222;
	background-repeat: no-repeat;
	background-position: 0px center;
	text-indent: -9999px;
}

#navigation li a span.hover {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 137px;
	height: 158px;
	background-repeat: no-repeat;
	background-position: -137px center;
	cursor: pointer;
}

#navigation #navigation-download a {
	background-image: url(../images/navigation/download.png);
}

#navigation #navigation-contribute a {
	background-image: url(../images/navigation/contribute.png);
}

#navigation #navigation-extensions a {
	background-image: url(../images/navigation/extensions.png);
}

#navigation #navigation-documentation a {
	background-image: url(../images/navigation/documentation.png);
}

#navigation #navigation-community a {
	background-image: url(../images/navigation/community.png);
}

#navigation #navigation-sponsors a {
	background-image: url(../images/navigation/sponsors.png);
}

#navigation #navigation-merchandise a {
	width: 138px;
	background-image: url(../images/navigation/merchandise.png);
}

#content {
	position: relative;
	font-size: 1.8em;
	line-height: 1.2em;
	padding: 12px;
}