#merchandise a.product {
	display: block;
	color: #fff;
	background-color: #161616;
	background-image: none !important;
	padding: 12px;
	border: 2px solid #222;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 12px;
}

#merchandise a.product:hover {
	background-color: #222;
	border-color: #333;
}

#merchandise a.product img {
	border: 1px solid #333;
}