body.sponsors h2.section-header {
	background-image: url(../images/headers/sponsors.png);
}

body.sponsors h3 {
	font-weight: normal;
	color: #fff;
	background-color: #222;
	padding: 6px 12px;
}

body.sponsors ul.sponsors {
	padding: 12px;
}